*nat
:EXPOSEUR - [0:0]

# examples sudo -A PREROUTING -s 6.6.6.6/32 -i eth0 -p tcp -m tcp --dport 8888 -j DNAT --to-destination 172.16.25.1:8888

{% for rule in expo_expose_rules %}
{% if rule.rule == 'dnat' %}
-A EXPOSEUR 
{%- if rule.from_ip is defined %} -s {{rule.from_ip}}{% endif %}
{{-' -p '}}{{rule.proto|default('tcp')}}
{{-' -m '}}{{rule.proto|default('tcp')}} --dport {{rule.to_port}} -j DNAT --to-destination {{rule.new_dest}}
{% endif %}
{% endfor %}

-A EXPOSEUR -j RETURN

{% for ip in expo_exposed_ips + expo_exposed_ips_default %}
-I PREROUTING -d {{ip}} -j EXPOSEUR
{% endfor %}

COMMIT

*filter

### Control global access to exposed docker ports

{% if expo_dockiptfix_apply|default(false) == true %}

# new chain that catches all incoming traffic to docker interface, e
:BEFORE_DOCKER - [0:0]
# rule that allow packets at established connections
-A BEFORE_DOCKER -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
# turn packets to new chain
-I FORWARD -i {{expo_main_int}} -o {{expo_docker_interface}} -j BEFORE_DOCKER

{% for rule in expo_dockiptfix_rules %}

-A BEFORE_DOCKER
{%- if rule.from_ip is defined %} -s {{rule.from_ip}} {% endif -%}
{%- if rule.to_ip is defined %} -d {{rule.to_ip}} {% endif -%}
{%- if rule.to_port is defined %} -p {{rule.proto}} -m {{rule.proto}} --dport {{rule.to_port}} {% endif -%}
{%- if rule.rule|default('allow') == 'allow' %} -j ACCEPT {% else %} -j DROP {% endif %}
{% endfor %}

# allow ip example: -A BEFORE_DOCKER -s 82.202.204.194/32 -j ACCEPT
# allow to port example: -I BEFORE_DOCKER -p tcp -m tcp --dport 10880 -j ACCEPT

#drop others packets to docker containers
-A BEFORE_DOCKER -j DROP


{% endif %}

COMMIT

