*filter

{% if expo_docker_iptfix_apply|default(false) == true %}

:BEFORE_DOCKER - [0:0]

-D FORWARD -i {{expo_main_interface}} -o {{expo_docker_interface}} -j BEFORE_DOCKER

-F BEFORE_DOCKER

{% endif %}

COMMIT

