# /lib/systemd/system/{{expo_service_name}}.service
[Unit]
Description=Additional iptables rules for docker
ConditionPathExists={{expo_start_file}}
ConditionPathExists={{expo_stop_file}}
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart={{expo_start_cmd}}
ExecStop={{expo_stop_cmd}}
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
Alias={{expo_service_name}}.service

